<div class="container">
    <h1>Contact List Informations:</h1>
   <table class="table table-dark table-hover">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Contact Number</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contact of contacts">
          <td>{{ contact.id }}</td>
          <td>{{ contact.name }}</td>
          <td>{{ contact.email }}</td>
          <td>{{ contact.number }}</td>
          </tr>
          <!--<tr>
            <td> {{ contactId }}</td>
            <td> {{ contactName }}</td>
            <td> {{ contactEmail }}</td>
            <td> {{ contactNumber }}</td>
          </tr>-->
          
   </table>
    <app-button color="violet" text="BACK" routerLink="/"></app-button>
</div>
